body{
    margin: 0;
}
#BoxPrincipal{
    float: center; 
    margin: auto;
    background-color: black;
    width: 1080px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#yellow{
    background-color: yellow;
    margin-left: 25px;
    width: 500px;
    height: 600px;
    float: right;
}
#red{
    background-color: red;
    margin-left: 50px 0px 0px 0px;
    width: 500px;
    height: 600px;
    float: left;
}

